<!DOCTYPE html>
<html class="no-js" lang="<%= lang %>">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <meta charset="utf-8">
    <base href="/">
    <meta name="fragment" content="!">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= serviceName %></title>

    <!-- OpenGraph -->
    <% if (facebookAppId) { %>
    <meta property="fb:app_id" content="<%= facebookAppId %>">
    <% } %>
    <meta property="og:locale" content="<%= lang %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= websiteTitle %>">
    <meta property="og:url" content="<%= websiteUrl %>">
    <meta property="og:site_name" content="<%= serviceName %>">
    <meta property="og:image" content="<%= headerImgUrl %>">
    <meta property="og:image:secure_url" content="<%= headerImgUrl %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="">
    <% if (twitterUsername) { %>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@<%= twitterUsername %>">
    <meta name="twitter:title" content="<%= websiteTitle %>">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="<%= headerImgUrl %>">
    <% } %>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <meta name="apple-mobile-web-app-title" content="<%= serviceName %>">
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="application-name" content="<%= serviceName %>">
    <meta name="theme-color" content="#00578E">

    <% if (metaRobotsTags) { %>
    <meta name="robots" href="<%= metaRobotsTags %>">
    <% } %>

    <% if (canonicalUrl) { %>
    <link rel="canonical" href="<%= canonicalUrl %>">
    <% } %>

    <!-- app:css -->
    <link rel="stylesheet" href="/assets/build/css/app.css">
    <!-- endinject -->

    <!-- CSS Custom properties -->
    <style type="text/css">
      :root {
        <% for (let style in styles) { %>
          <%= `${style}: ${styles[style]};` %>
        <% } %>
      }
    </style>

    <!-- Webpack resource hints preload/prefetch -->

  </head>

  <body class="<%= devHighlightTranslations %>"
    data-status=""
    data-env="<%= env %>"
    data-session-id="<%= sessionId %>"
    data-session-token="<%= sessionToken %>"
    data-event-id="<%= eventId %>"
    data-event-token="<%= eventToken %>"
    data-ux-version="<%= uxVersion %>">

    <noscript>
      <div class="no-script">
        You need to enable JavaScript to browse this website.
      </div>
    </noscript>

    <div id="loading-content">
      <div id="loading-logo">
        <img src="<%= logoUrl %>" alt="<%= serviceName %> logo">
      </div>
      <div id="loading-spinner">
        <img src="/assets/img/app/AppSpinner.gif" alt="Loading">
      </div>
    </div>

    <%- body %>

    <!-- app-pre:js -->
    <script src="/assets/build/js/app-pre.js"></script>
    <!-- endinject -->

    <script src="/generated/scripts/before-app.js"></script>
    <script src="/generated/scripts/external-services.js"></script>

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

    <% if (stripeActive) { %>
    <script async defer src="https://js.stripe.com/v3/"></script>
    <% } %>


    <!-- app:js -->
    <script src="/assets/build/js/app-lib.js"></script>
    <script src="/assets/build/js/app-template.js"></script>
    <script src="/assets/build/js/app.js"></script>
    <!-- endinject -->

    <!-- app-lang:js -->
    <!-- <script defer src="/assets/build/js/app-lang.js"></script> -->
    <!-- endinject -->

    <script src="/generated/scripts/after-app.js"></script>

    <!-- Webpack scripts -->
  </body>
</html>
